.carousel {
  width: 90%;
  height: 85%;
  margin: 20px auto;
}

/* Product */
.product {
  width: 90%;
  margin: 0 auto;
}

.product-page > p {
  text-align: center;
  margin: 25px 0;
  font-size: 26px;
  font-weight: 500;
}

.product-page .product-wrapper {
  display: flex;
  justify-content: space-between;
  background: #e5e5e5;
  padding: 30px 20px;
}

.product-page .product-selection {
  width: 20%;
  max-height: 635px;
  background: #fff;
}

.product-page .product-content {
  width: 78%;
}

.product-page .product-filter {
  padding: 1em 2em 1rem;
  margin: 0 5px;
  border-radius: 5px;
  background: #fff;
}

.product-page .product-filter h4 {
  font-size: 15px;
  padding-top: 5px;
  margin-right: 15px;
  min-width: 100px;
}

.product-page .part {
  display: flex;
}

.product-page .brand-list {
  font-size: 14px;
  color: #595959;
}

.product-page .brand-list a {
  text-decoration: none;
  color: #000;
  margin-bottom: 15px;
  display: inline-block;
  font-weight: 350;
  padding: 4px 9px;
  margin-right: 5px;
}

.product-page .brand-list a:hover {
  color: black;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.product-page .price-list a {
  text-decoration: none;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 6px;
  padding: 3px 8px;
  border-radius: 4px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.product-page .price-list a:hover {
  border-color: #000;
}

.product-page .sort_by {
  margin-top: 15px;
}

.product-page .trending-list a {
  text-decoration: none;
  margin-right: 6px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.product-page .trending-list a:hover {
  background: #000;
  color: #fff;
}

.product-page .product-list {
  margin-top: 10px;
}

.product-page .product-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-page .product-item {
  width: 25%;
  background: #fff;
  margin: 5px;
  border-radius: 4px;
  overflow: hidden;
}

.product-page .image img {
  max-width: 100%;
  height: auto;
}

.product-page .product-desc {
  padding: 14px 10px 10px;
  text-align: left;
}

.product-page .product-brand a {
  text-decoration: none;
  color: #999;
  font-size: 13px;
  font-weight: 300;
}

.product-page .product-name a {
  color: #252a2b;
  display: block;
  text-decoration: none;
  font-size: 18px;
  max-height: 23px;
  overflow: hidden;
  margin-top: 5px;
  font-weight: 400;
}

.product-page .product-price {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.product-page .product-sidebar {
  padding: 15px 12px 10px;
}

.product-page .category-header {
  position: relative;
}

.product-page .category-header a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.product-page .category-header i {
  cursor: pointer;
  position: absolute;
  right: 0;
}

.product-page .category-header h4 {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding-left: 15px;
  display: flex;
}

.product-page .category-option {
  margin-top: 6px;
  padding-left: 36px;
  list-style-type: none;
}

.product-page .category-option .item {
  padding: 2px 0;
  text-align: left;
}

.product-page .category-option h4 {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.product-page .category-option a {
  text-decoration: none;
  line-height: 28px;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

.product-page .category-option a:hover {
  color: rgb(70, 240, 183);
}
