@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --white: #fff;
  --orange: #ff7800;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

.home .products-deal {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span {
  background: var(--orange);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--black);
  color: var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #333;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 24px;
  font-weight: bolder;
  color: var(--white);
}

.header .logo i {
  color: var(--orange);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--white);
}

.header .navbar a:hover {
  box-shadow: 0 3px yellow;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-left: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.header .icons div:hover {
  background: yellowgreen;
  color: var(--white);
}

#menu-btn {
  display: none;
}

.header .shopping-cart {
  position: absolute;
  top: 110%;
  right: -110%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  width: 35rem;
  background: #fff;
}

.header .shopping-cart.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
}

.header .shopping-cart .box img {
  height: 10rem;
}

.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
  transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
  color: var(--orange);
}

.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
  color: var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.header .shopping-cart .btn {
  display: block;
  text-align: center;
  margin: 1rem;
}

.header .login-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 35rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.header .login-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .login-form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}

.header .login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.header .login-form p {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  color: var(--light-color);
}

.header .login-form p a {
  color: var(--orange);
  text-decoration: underline;
}
.home {
  height: 20px;
  padding-top: 9rem;
  padding-bottom: 10rem;
  font-size: 20px;
  overflow: hidden;
  background: #e9e9e9;
}
.home .topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
  margin: auto;
}
.home .topnav input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.home .topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.home .topnav input[type="text"] {
  border: 1px solid #ccc;
  width: 1000px;
}
.home .topnav a:hover {
  background-color: #ff7800;
  color: black;
}
.home .topnav a.active {
  background-color: #333;
  color: var(--white);
}
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Outstanding product */
.products .products-slide {
  padding-bottom: 5rem;
}

.products .products-slide .box {
  float: left;

  display: block;
  text-align: center;
}
.tiltle-product {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: normal;
}
.product-list {
  background-color: snow;
  width: 100%;
  height: 500px;
}
.product {
  background-color: snow;
  width: 310px;
  height: 470px;
  float: left;
  margin: 12px;
}
.next2 {
  background-color: black;
  width: 280px;
  height: 30px;
  color: snow;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.img-product {
  width: 310px;
}
.name-product {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.price {
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.new-product-discount {
  background-color: #ffc700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 70px;
  position: absolute;
  top: 135px;
}

.sold-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 10px;
  text-decoration-line: line-through;
  color: #8e8e8e;
}
.brand-product {
  color: #999;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.new-brand {
  margin-bottom: 500px;
}

/* Magazines */
.magazines {
  width: 90%;
  margin: 0 auto;
}

.magazines .content {
  margin-top: 10px;
}

.magazines .title {
  margin: 50px 0 20px 50px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 5.5px;
  font-weight: 300;
}

.magazines .magazine-slide {
  position: relative;
  margin: 5px;
}

.magazines .magazine-slide img {
  width: 100%;
  height: 100%;
}

.magazines .magazine-description {
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.magazines .magazine-description > p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
}

.magazines .magazine-description .news {
  border: solid 1px;
  padding: 2px 10px;
  border-radius: 7px;
}

.magazines .slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.magazines .content {
  display: flex;
}

.magazines .wrapper {
  width: 25%;
  margin: 5px;
}

.magazines .wrapper > a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  margin-bottom: 25px;
  display: inline-block;
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 5px;
  min-width: 70%;
}

.magazines .wrapper > a::before {
  content: "";
  width: 50px;
  height: 2px;
  background: #333;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.magazines .wrapper-text > a {
  display: block;
  width: 30%;
  margin: 0;
}

.magazines .wrapper-description > a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
  line-height: 21px;
  max-height: 42px;
  overflow: hidden;
}

.magazines .wrapper-description span {
  color: #8e8e8e;
  text-align: left;
  font-size: 0.9rem;
  letter-spacing: 0;
}

.magazines .wrapper-description {
  display: block;
  width: 70%;
  margin-left: 15px;
}

.magazines .wrapper-text {
  display: flex;
  margin-bottom: 10px;
}

.magazines .load_more {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 80px;
}

.magazines .load_more p {
  border: solid 1px black;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 30px;
  font-size: 13px;
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Footer */
footer .service {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 0 40px;
}

footer .service-item {
  text-align: center;
  padding: 16px 0;
  width: 33.3%;
}

footer .service-item p {
  font-size: 18px;
  font-weight: bold;
}

footer .service-item span {
  font-size: 12px;
  color: #bdbdbd;
  padding-top: 4px;
}

footer .content {
  display: flex;
  padding: 50px 40px;
}

footer .content-item {
  width: 20%;
}

footer .content-item p {
  font-size: 14px;
  margin-top: 8px;
}

footer .content-item .time {
  color: #555;
  font-weight: 300;
  display: block;
  padding-top: 2px;
  font-size: 12px;
}

footer .content-item .icon {
  font-size: 25px;
  color: #3f3f3f;
  margin: 10px 0;
}

footer .content-item .fab {
  margin-right: 10px;
}

footer .content-item a {
  display: block;
  margin: 10px;
  font-size: 12px;
  color: #000;
}

footer .content-item a:hover {
  color: rgb(127, 129, 255);
  transition: 2ms;
}

footer .content-item .cash {
  border: solid 1px #d5d5d5;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 5px;
}

footer .content-item .payment {
  margin: 15px 0;
}

footer .content-item .payment-item {
  margin-bottom: 20px;
}

footer .content-item .partner {
  margin-bottom: 15px;
}

footer .content-item .company {
  display: block;
  margin: 10px 0;
}

footer .content-item .email {
  margin: 14px 0;
}

footer .content-item .email {
  position: relative;
}

footer .content-item .email button {
  color: white;
  background: #3d3d3d;
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 41px;
}

footer .content-item .email input {
  border: 0.8px solid #d2d2d2;
  border-radius: 0;
  font-size: 12px;
  padding: 6px;
  font-weight: 300;
  letter-spacing: 1px;
}

footer .content-item .download {
  margin: 25px 0 15px;
}

footer .content-item .app {
  display: flex;
}

/* License */
.license {
  display: flex;
  justify-content: space-between;
  padding: 24px 70px;
  color: #777;
  border-top: 1px solid #f0f0f0;
  font-size: 11px;
  padding-top: 15px;
}

.license .license-item p {
  padding: 0px 0 4px;
  line-height: 17px;
}

.license .license-item a {
  color: #000;
}
